@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic|Anaheim);

* {
	margin: 0px;
	padding: 0px;
}

html, body {

	background-color: white;
	color: #233945;
	font-family: 'Anaheim', sans-serif;
	font-weight: 300;

}

a {
	color: #58C3ED;
	font-weight: 400;
	text-decoration: none;
	transition: .25s;

}

a:hover {
	color: #33A6D4;
	transition: .25s;
}

#header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5em 0em;
	width: 100%;

	background-color: #58C3ED;
}

img#logo {
	width: 156px;
	height: 100px;
}

#content {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 2em;

	letter-spacing: 0.02em;
	line-height: 1.5em;
	width: 60%;
}

#content h1 {
	margin: 0em auto 0.8em auto;

	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0em;
	text-transform: none;
}

#content h1 a {
	color: #233945;
}

#content h1 a:hover {
	color: #233945;
}

#content h3 {
	color: #CE4D28;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0em;
	text-transform: uppercase;
}

#content h6 {

}

#content p {
	margin-bottom: 0.8em;
}

form {
	padding: 1pt 0;
}

#upload_form_container {
	margin: 1em 4em;
	padding: 0.8em 1.2em;

	border-left: 1px solid white;
}

#upload_form_container label {

	font-size: 0.8em;
	font-weight: 400;
}

#upload_form_container input {
	padding: 0.4em 0.5em;
	width: 30em;

	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05em;

}

#upload_form_container textarea {
	padding: 0.5em 0.4em;
	width: 30.6em;
	height: 6em;

	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05em;
}

#upload-button {
	padding: 0.4em 0.5em;

	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05em;
}

/* */
#loader_img {
	margin-left: 5px;
	vertical-align: middle;
	display: none;
}

#bar_loader {
	margin: 50px 0 70px 0;
}
#bar_loader img {
    display:block;
    margin:auto;
}