{% extends "layout.html" %}
{% block content %}

<h3>ArduPilot Log Submission & Analysis</h3>

<p>
Submit your <a href="http://copter.ardupilot.com/wiki/downloading-and-analyzing-data-logs-in-mission-planner/">Dataflash logs</a> to us for Piksi performance analysis. 
</p>

<p>
If you're flying Piksi, we can use your log files, completely anonymously, to measure and improve Piksi's performance on UAVs! This uploader script <b> will do an initial analysis, immediately available to you</b> to give you insight into your Piksi's behavior. Once uploaded, you will have a permament link to this logfile and analysis.
</p>

<div id="upload_form_container">
	
	<form id="upload_log_form" action="{{ url_for('upload_log') }}" method=post enctype=multipart/form-data>

	<p>
		<label>Your .bin dataflash log</label><br/>
		<input type=file name=file>
	</p>

	<p>
		<label>Your email (<i>completely optional!</i>)</label><br/>
		<input type="text" name="email" size=30/>
	</p>
	<P>
		<label>Comments on the flight (<i>optional</i>)</label><br/>
		<textarea id="form_comments" name="comments"></textarea>
	</P>

	<p>
		<input type="submit" value="Submit and Upload" id="upload-button">
		<br/>
		<img id="loader_img" src="/static/img/ajax-loader.gif"/>
	</p>
	</form>

</div>

<h3>Thank you! </h3>  
- Niels & The Swift-Nav Team

<p></p>

<script 
type="text/javascript" 
src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
