{% extends "layout.html" %}
{% block content %}

<h3>ArduPilot Log Submission & Analysis</h3>

<p>
Submit your <a href="http://copter.ardupilot.com/wiki/downloading-and-analyzing-data-logs-in-mission-planner/">Dataflash logs</a> to us for Piksi performance analysis. 
</p>

<form id="upload_log_form" action="{{ url_for('upload_log') }}" method=post enctype=multipart/form-data>
<p><input type=file name=file>
   <input type=submit value=Upload id="upload_button">
<img id="loader_img" src="/static/img/ajax-loader.gif"/>
</p>
</form>

<p>
If you're flying Piksi, we can really use your log files, completely anonymously, to help measure and improve Piksi's performance on UAVs! This uploader script <b> will do an initial analysis, immediately available to you</b> to give you insight into your Piksi's behavior. It will also give you a permament link to the uploaded logfile that you can use in your correspondence with developers.
</p>

<p>Thank you! </br>  - Niels & The Swift-Nav Team</p>

<p></p>

<script 
type="text/javascript" 
src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
