<!DOCTYPE html>
<html>
<head>
	<title>SwiftNav UAV Support Page</title>

	<link rel="shortcut icon" href="/static/img/favicon.png" />

	<link rel="stylesheet" 
	type="text/css" 
	href="{{ url_for('static', filename='css/main.css') }}" />

	<script 
	type="text/javascript" 
	src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

</head>
<body>

<div id="container">

	<div id="header">
		<img src="/static/img/logo_light.png" id="logo" />
	</div>


	<div id="content" class="box">
		<h1><a href="{{ url_for('index') }}">UAV Support Page</a></h1>
		{% block content %}{% endblock %}
	</div>

</div>

</body>
</html>